# [作業目標]

1. [簡答題] 請問下列四種不同的 DataFrame 選取結果有什麼差異？

```
df.loc[ '2013-01-01', 'A'] 
df.loc[ '2013-01-01', ['A', 'B'] ] 
df.loc[ '2013-01-01':'2013-01-02', 'A' ] 
df.loc[ '2013-01-01':'2013-01-05', 'A':'C'] 
```


2. 請根據提供的資料，選擇出下列的要求：

```
# - select the first 3 rows.
# - select the odd rows. (index = 1, 3, 5)
# - select the last 2 columns.
# - select the even columns. (index = 0, 2, 4)
```

3. 請根據提供的資料，選擇出下列的要求：

```
# - 1. filtered by first column > 20?
# - 2. filtered by first column + second column > 50
# - 3. filtered by first column < 30 or second column > 30
# - 4. filtered by total sum of row > 100
```

# 作業

### 1. [簡答題] 請問下列四種不同的 DataFrame 選取結果有什麼差異？

```
df.loc[ '2013-01-01', 'A'] 
df.loc[ '2013-01-01', ['A', 'B'] ] 
df.loc[ '2013-01-01':'2013-01-02', 'A' ] 
df.loc[ '2013-01-01':'2013-01-05', 'A':'C'] 
```

In [6]:
import pandas as pd
df=pd.DataFrame({
    "A":[1,2,3],
    "B":[4,5,6],
    "C":[7,8,9]
},index=["2013-01-01","2013-01-03","2013-01-05"])

print(df)
print("-------------")
print(df.loc[ '2013-01-01', 'A']) 
print("-------------")
print(df.loc[ '2013-01-01', ['A', 'B'] ] )
print("-------------")
print(df.loc[ '2013-01-01':'2013-01-02', 'A' ] )
print("-------------")
print(df.loc[ '2013-01-01':'2013-01-05', 'A':'C'] )

            A  B  C
2013-01-01  1  4  7
2013-01-03  2  5  8
2013-01-05  3  6  9
-------------
1
-------------
A    1
B    4
Name: 2013-01-01, dtype: int64
-------------
2013-01-01    1
Name: A, dtype: int64
-------------
            A  B  C
2013-01-01  1  4  7
2013-01-03  2  5  8
2013-01-05  3  6  9

### 2. 請根據提供的資料，選擇出下列的要求：

```
# - select the first 3 rows.
# - select the odd rows. (index = 1, 3, 5)
# - select the last 2 columns.
# - select the even columns. (index = 0, 2, 4)
```

In [9]:
import pandas as pd
import numpy as np

In [35]:
df = pd.DataFrame(np.random.randn(6,3),columns=['col1','col2','col3'])
print(df)

       col1      col2      col3
0 -0.273308 -0.362574  1.420202
1  0.197644  0.437006 -2.325502
2  3.171643 -1.051538  0.609817
3 -0.966922 -1.066624  0.331091
4 -0.699208  0.551287  0.235427
5  0.915574  0.855089  0.414703

In [53]:
# - select the first 3 rows.
print(df.loc[:3])
print("-------------")

# - select the odd rows. (index = 1, 3, 5)
print(df.iloc[1::2])
print("-------------")

# - select the last 2 columns.
print(df.iloc[:5,1:])
print("-------------")

# - select the even columns. (index = 0, 2, 4)
print(df.iloc[::2,::2])

       col1      col2      col3
0 -0.273308 -0.362574  1.420202
1  0.197644  0.437006 -2.325502
2  3.171643 -1.051538  0.609817
3 -0.966922 -1.066624  0.331091
-------------
       col1      col2      col3
1  0.197644  0.437006 -2.325502
3 -0.966922 -1.066624  0.331091
5  0.915574  0.855089  0.414703
-------------
       col2      col3
0 -0.362574  1.420202
1  0.437006 -2.325502
2 -1.051538  0.609817
3 -1.066624  0.331091
4  0.551287  0.235427
-------------
       col1      col3
0 -0.273308  1.420202
2  3.171643  0.609817
4 -0.699208  0.235427

### 3. 請根據提供的資料，選擇出下列的要求：

```
# - 1. filtered by first column > 20?
# - 2. filtered by first column + second column > 50
# - 3. filtered by first column < 30 or second column > 30
# - 4. filtered by total sum of row > 100
```

In [54]:
df = pd.DataFrame(np.random.randint(10, 40, 60).reshape(-1, 4))
print(df)

     0   1   2   3
0   27  18  27  37
1   38  32  28  35
2   35  26  25  35
3   23  11  35  37
4   15  23  29  33
5   10  20  15  33
6   30  35  23  14
7   37  18  38  27
8   15  15  24  28
9   15  36  22  23
10  30  36  10  20
11  15  20  15  15
12  15  18  20  13
13  24  30  30  37
14  23  22  34  21

In [75]:
# - 1. filtered by first column > 20?
print(df[df[0]>20])
print("-------------")

# - 2. filtered by first column + second column > 50
print(df[df[0]+df[1]>50])
print("-------------")

# - 3. filtered by first column < 30 or second column > 30
print(df[(df[0]<30)|(df[1]>30)])
print("-------------")

# - 4-1. filtered by total sum of row > 100
print(df[(df[0]+df[1]+df[2]+df[3])>100])
print("-------------")

# - 4-2. filtered by total sum of row > 100
print(df[df.sum(axis = 1)>100])

     0   1   2   3
0   27  18  27  37
1   38  32  28  35
2   35  26  25  35
3   23  11  35  37
6   30  35  23  14
7   37  18  38  27
10  30  36  10  20
13  24  30  30  37
14  23  22  34  21
-------------
     0   1   2   3
1   38  32  28  35
2   35  26  25  35
6   30  35  23  14
7   37  18  38  27
9   15  36  22  23
10  30  36  10  20
13  24  30  30  37
-------------
     0   1   2   3
0   27  18  27  37
1   38  32  28  35
3   23  11  35  37
4   15  23  29  33
5   10  20  15  33
6   30  35  23  14
8   15  15  24  28
9   15  36  22  23
10  30  36  10  20
11  15  20  15  15
12  15  18  20  13
13  24  30  30  37
14  23  22  34  21
-------------
     0   1   2   3
0   27  18  27  37
1   38  32  28  35
2   35  26  25  35
3   23  11  35  37
6   30  35  23  14
7   37  18  38  27
13  24  30  30  37
-------------
     0   1   2   3
0   27  18  27  37
1   38  32  28  35
2   35  26  25  35
3   23  11  35  37
6   30  35  23  14
7   37  18  38  27
13  24  30  30  37