# [作業目標]

1. 根據題目給的 DataFrame 完成下列操作：

```
- 計算每個不同種類 animal 的 age 的平均數
- 計算每個不同種類 animal 的 age 的平均數
- 將資料依照 Age 欄位由小到大排序，再依照 visits 欄位由大到小排序
- 將 priority 欄位中的 yes 和 no 字串，換成是布林值 的 True 和 False
```


2. 一個包含兩個欄位的 DataFrame，將每個數字減去

```
* 1) 該欄位的平均數
* 2) 該筆資料平均數
```

3. 承上題，請問：

```
* 1) 哪一比的資料總合最小
* 2) 哪一欄位的資料總合最小
```

# 作業

### 1. 根據題目給的 DataFrame 完成下列操作：

```
- 計算每個不同種類 animal 的 age 的平均數
- 計算每個不同種類 animal 的 age 的平均數
- 將資料依照 Age 欄位由小到大排序，再依照 visits 欄位由大到小排序
- 將 priority 欄位中的 yes 和 no 字串，換成是布林值 的 True 和 False
```

In [3]:
import pandas as pd
import numpy as np

In [4]:
data = {
    'animal': ['cat', 'cat', 'snake', 'dog', 'dog', 'cat', 'snake', 'cat', 'dog', 'dog'],
    'age': [2.5, 3, 0.5, np.nan, 5, 2, 4.5, np.nan, 7, 3],
    'visits': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
    'priority': ['yes', 'yes', 'no', 'yes', 'no', 'no', 'no', 'yes', 'no', 'no']
}

labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']
df = pd.DataFrame(data, index=labels)
df

  animal  age  visits priority
a    cat  2.5       1      yes
b    cat  3.0       3      yes
c  snake  0.5       2       no
d    dog  NaN       3      yes
e    dog  5.0       2       no
f    cat  2.0       3       no
g  snake  4.5       1       no
h    cat  NaN       1      yes
i    dog  7.0       2       no
j    dog  3.0       1       no

In [24]:
# 計算每個不同種類 animal 的 age 的平均數

for i in set(df["animal"]):
    print(i,":",df[df["animal"]==i]["age"].mean())
print("--------------------")

# 將資料依照 Age 欄位由小到大排序，再依照 visits 欄位由大到小排序
data=df.sort_values(by=["age","visits"],ascending=[True,False])
print(data)
print("--------------------")

# 將 priority 欄位中的 yes 和 no 字串，換成是布林值 的 True 和 False
df["priority"]=df["priority"].replace(["yes","no"],[True,False])
print(df)

snake : 2.5
cat : 2.5
dog : 5.0
--------------------
  animal  age  visits priority
c  snake  0.5       2       no
f    cat  2.0       3       no
a    cat  2.5       1      yes
b    cat  3.0       3      yes
j    dog  3.0       1       no
g  snake  4.5       1       no
e    dog  5.0       2       no
i    dog  7.0       2       no
d    dog  NaN       3      yes
h    cat  NaN       1      yes
--------------------
  animal  age  visits  priority
a    cat  2.5       1      True
b    cat  3.0       3      True
c  snake  0.5       2     False
d    dog  NaN       3      True
e    dog  5.0       2     False
f    cat  2.0       3     False
g  snake  4.5       1     False
h    cat  NaN       1      True
i    dog  7.0       2     False
j    dog  3.0       1     False

### 2. 一個包含兩個欄位的 DataFrame，將每個數字減去

* 1) 該欄位的平均數
* 2) 該筆資料平均數

In [52]:
# 1) 減去該欄位的平均數

df = pd.DataFrame(np.random.random(size=(5, 3)))
df2 = pd.DataFrame(np.random.random(size=(5, 3)))
print(df)

print("--------------------")

for i in range(5):
    df2.iloc[i]=df.iloc[i]-df.iloc[i].mean()    
print(df2)

          0         1         2
0  0.100359  0.659202  0.528008
1  0.881946  0.543042  0.163509
2  0.419263  0.275623  0.941080
3  0.643159  0.954205  0.068265
4  0.070084  0.677158  0.162242
--------------------
          0         1         2
0 -0.328830  0.230012  0.098818
1  0.352447  0.013543 -0.365990
2 -0.126059 -0.269699  0.395758
3  0.087949  0.398996 -0.486945
4 -0.233077  0.373996 -0.140920

In [53]:
# 2) 減去該筆資料平均數

df3=df-df.mean()
print(df3)

          0         1         2
0 -0.322603  0.037356  0.155387
1  0.458984 -0.078804 -0.209112
2 -0.003699 -0.346223  0.568459
3  0.220197  0.332359 -0.304356
4 -0.352878  0.055312 -0.210379

### 3. 承上題，請問：

1) 哪一比的資料總合最小
2) 哪一欄位的資料總合最小

In [57]:
df

          0         1         2
0  0.100359  0.659202  0.528008
1  0.881946  0.543042  0.163509
2  0.419263  0.275623  0.941080
3  0.643159  0.954205  0.068265
4  0.070084  0.677158  0.162242

In [63]:
# 1) 哪一列的資料總合最小

print(df.sum(axis=1))
df.sum(axis=1).argmin()

0    1.287569
1    1.588498
2    1.635966
3    1.665630
4    0.909484
dtype: float64

4

In [67]:
# 2) 哪一欄位的資料總合最小

print(df.sum())
df.sum().argmin()

0    2.114812
1    3.109230
2    1.863104
dtype: float64

2